<h3>{{viewTitle}}</h3>
<form action="{{action}}" method="POST" autocomplete="off">
 <input type="hidden" name="_idExhumation" value="{{exhumation.IdExhumation}}">
 
 <div class="form-group">
<label>Cel ekshumacji</label>
  <select  class="form-control" name="PurposeExhumation" placeholder="{{exhumation.PurposeExhumation}}"
 value="{{exhumation.PurposeExhumation}}" required>
<option value="Przeniesienie">Przeniesienie</option>
    <option value="Badania sekcyjne">Badania sekcyjne</option>
    <option value="Pogłepienie grobu">Pogłepienie grobu</option>
    </select>
 </div>
<div class="form-group">
 <label>Data ekshumacji(dzień-miesiąc-rok)</label>
 <input type="text" class="form-control" name="DateExhumation" id="DateExhumation"   pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" placeholder="{{exhumation.DateExhumation}}"
 value="{{exhumation.DateExhumation}}" required>
 </div>
 <div class="form-group">
 <label>Data ponownego pochówku(dzień-miesiąc-rok)</label>
 <input type="text" class="form-control" name="Datereburial" id="Datereburial" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" placeholder="{{exhumation.Datereburial}}"
 value="{{exhumation.Datereburial}}" required>
 </div>
  <div class="form-group">
 <label>Zmiana kwatery</label>
 <select type="boolean" class="form-control" name="ChangeOfBurialPlace"  required>
    <option value="true">Tak</option>
     <option value="false">Nie</option>
 </select> 
 </div>
    <div class="form-group">
 <label>Opis</label>
 <textarea rows="10" cols="50" type="text" class="form-control" name="Scribe" placeholder="{{exhumation.Scribe}}"
 value="{{exhumation.Scribe}}" required pattern="{1,999}"></textarea>
 </div>
     <div class="form-group">
 <label>Numer pochówku</label>
 <select class="form-control" {{idburaildisable}} name="BurialNumber">
    {{#each listburial}}
    <option value="{{this.id}}">{{this.id}}<option>
        {{/each}}
</select>
{{#if idburailbool}}
 
<input type="hidden" name="BurialNumber" value="{{listburial.0.id}}">
{{/if}}
 </div>
 <div class="form-group">
    
 <button onclick="return checkdate()" type="submit" class="btn btn-info">Zapisz</button>
 <a class="btn btn-secondary" href="/exhumation/list">Pokaz listę</a>
 </div>
</form>
<script>
    function checkdate(){
        var datetwo=document.getElementById("Datereburial").value;
        var dateone =document.getElementById("DateExhumation").value;
      
        if(dateone != "" && datetwo !=""){
            console.log("checkif");
             datetwo=datetwo.split('-');
            dateone =dateone.split("-");
             var ehumactiondate = new Date(dateone[2],Number(dateone[1])-1,dateone[0]);
             var burialdate= new Date(datetwo[2],Number(datetwo[1])-1,datetwo[0])
             console.log(burialdate);
             console.log(ehumactiondate);
             if(burialdate >= ehumactiondate )
             {
                return true;
             }
             else{
                
                alert("Data ponownego pochówka musi byz późniejsza niż data eksumacji");
             return false;}
             
        }else{
                return false;
             }
     }
      
     document.addEventListener("DOMContentLoaded", () => {
        var DatereBurial=document.getElementById("Datereburial");
        var DateExhumation=document.getElementById("DateExhumation");
        DatereBurial.addEventListener('change', (event) => {checkdate();});
        DateExhumation.addEventListener('change', (event) => {checkdate();});
     });
     
</script>