<h3>{{viewTitle}}</h3>
<form action="{{action}}" method="POST" autocomplete="off">
 <input type="hidden" name="_id" value="{{Intention._id}}">
 <div class="form-group">
 <label>Treść</label><br>
 <textarea class="form-control" name="Textintens" = cols="40" rows="5">{{Intention.Textintens}}</textarea>

 </div>
  <div class="form-group" id="Dategroup">
     <label>Msza numer:</label>
  <input type="text" class="form-control" disabled name="Id" value="{{massdate._id}}">

 <label>Data mszy</label>
<input type="text" class="form-control" disabled id="Date_Of_even" name="Date_Of_even" 
 placeholder="{{Intention.Date}}"  value="{{Intention.Date}}" required/>
  
 <label>Godzina Mszy </label>
 <input type="text" class="form-control" disabled id="Time_Of_even"  name="Time_Of_even" 
 value="{{Intention.Time}}"  required/>
 </div>
  <div class="form-check">
   
  <input type="checkbox" class="form-check-input" name="Accepted" id="Accepted" value="true" {{#if Intention.Accepted}}checked {{/if}}/ >
  
  <label class="form-check-label">Zatwierdź</label>
  </div>
<div class="form-group">
<button type="submit" class="btn btn-info">Zapisz</button>
<a class="btn btn-secondary" href="/intent/list">Pokaz listę</a>
</div>
</form>

<script >
    
    var listintens={{{json massdate}}};
    console.log(listintens);
    </script>