
<style>
 .formuser {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 400px;
    height: 100%;
    justify-content: center;
}
</style>
<div class="formuser">
<h3>{{viewTitle}}</h3>
<form action="{{action}}" method="POST" autocomplete="off">
 <input type="hidden" name="_id" value="{{User._id}}">
 <div class="form-group">
 <label>Email</label>
 <input type="email" class="form-control" name="email" placeholder="{{User.email}}"
 value="{{User.email}}">
 </div>
  <div class="form-group">
 <label>Haslo</label>
 <input type="text" class="form-control" name="password" pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"placeholder="{{User.password}}"
 value="{{User.password}}">
 </div>
   <div class="form-group">
 <label>Zweryfikowany</label>
 <select class="form-control" name="status" placeholder="{{User.status}}"
 value="{{User.status}}">
  <option value=true >Zweryfikowany</option>
  <option value=false >Nie zweryfikowany</option>
 </select>
 </div>
 <div class="form-group">
 <button type="submit" class="btn btn-info">Zapisz</button>
 <a class="btn btn-secondary" href="/userdb/listuser">Pokaz listę</a>
 </div>
</form>
</div>