<h3>{{viewTitle}}</h3>
<form action="{{action}}" method="POST" autocomplete="off">
 <input type="hidden" name="_id" value="{{Intention.id}}">
 <input type="hidden" name="paid_off" value="{{Intention.paid_off}}">
 <div class="form-group">
 <label>Treść</label>
 <input type="text" class="form-control" name="textintens" placeholder="{{Intention.textintens}}"
 value="{{Intention.Textintens}}" required>
 </div>
  <div class="form-group">
 <label>Data(dzień-miesiąc-rok)</label>
 <input type="text" class="form-control" name="date" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" placeholder="{{Intention.date}}"
 value="{{Intention.date}}" required>
 </div>
 <div class="form-group">
 <label>Msza</label>
 <select class="form-control" name="mass" placeholder="{{Intention.mass}}"
 value="{{Intention.mass}}" required>
<option value="seven">7:00</option>
<option value="nine">9:30</option>
<option value="twelve">12:00</option>
<option value="fifteen">15:00</option>
<option value="eighteen">18:00</option>
 </select>
 </div>
  <div class="form-check">
  <input type="checkbox" class="form-check-input" name="accepted" value="{{Intention.accepted}}" placeholder="{{Intention.accepted}}">
  <label class="form-check-label">Zatwierdź</label>
  </div>
<div class="form-group">
<button type="submit" class="btn btn-info">Zapisz</button>
<a class="btn btn-secondary" href="/intention/list">Pokaz listę</a>
</div>
</form>