<h3 style="text-align:center w-100">Lista dysponentów kwater</h3>
<a class="btn btn-secondary" href="/ovnerrip/addovner">Dodaj dysponenta kwatery</a>
<table class="table table-striped">
 <thead>
 <tr>
 <th>Email</th>
 <th>kwatery</th>
 </tr>
 </thead>
 <tbody>
 {{#each list}}
 <tr>
 <td>{{this.email}}</td>
 <td>
    {{#each this.quaters}}
          {{this.IdGraveQuaters}},
     {{/each}}
 </td>
 <td>
 <a class="btn btn-primary btn-sm" href="/ovnerrip/{{this._id}}">Edytuj</a>
 <button class="btn btn-danger btn-sm" onclick="deleteovnergrave('{{this.email}}','{{this._id}}')">
Usuń </button>
 </td>
 </tr>
 {{/each}}
 </tbody>
</table>
<script>
function deleteovnergrave(email, id) {
        //href="/userdb/deleteuser/62ab938e567b12fdc858eaa3"
        if (confirm('Czy jesteś pewien, że chcesz usunąć dysponeta ' + email + "?") == true) {
            fetch("/ovnerrip/delete?" + new URLSearchParams({
                id: id,
                email: email
            }))
                .then(function (response) {
                    console.log(response.status);
                    console.log(response)
                    
                    if (response.status == 207) {
                        alert("Dysponet kwatery nie może zostać usuniety gdyż posiada on kwatery");
                    } else  if (response.status == 200) {
                        alert("Dysponent kwatery został usunięty z bazy");
                           setTimeout(() => {
                       window.location.reload();
                    }, 2000)
                        
                    } else {

                        alert("Coś poszło  nie tak odśwież stronę i spróbuj ponownie")
                    }
                })
                .catch(err => {
                    alert("Coś poszło  nie tak odśwież stronę i spróbuj ponownie");
                    console.log("Coś poszło  nie tak odśwież stronę i spróbuj ponownie" + err);

                });
        } else {

        }

    }

</script>
