

<h3 style="text-align:center">Lista intencji</h3>
<table class="table table-striped">
 <thead>
 <tr>
 <th>Id Intencji</th>
 <th>Treść</th>
 <th>Data</th>
 <th>Godzina mszy</th>
 <th>Zatwierdzona</th>
 </tr>
 </thead>
 <tbody>
 {{#each list}}
 <tr>
 <td>{{this._id}}</td>
 <td>{{this.Textintens}}</td>
 <td>{{this.Date}}</td>
 <td>{{this.Time}}</td>
 <td> {{this.Acceptedstring}}</td>
 
 <td>
 <a class="btn btn-primary btn-sm" href="/inten/editview/{{this._id}}">Edytuj</a>
  <button  class="btn btn-danger btn-sm" 
    onclick="deleteintencion('{{this._id}}','{{this.Massid}}')" >Usuń</button>
 
 </td>
 </tr>
 {{/each}}
 </tbody>
</table>
<script >
    
    var listintens={{{json list}}};
    console.log(listintens);


    function deleteintencion(id,Massid){
        console.log(id);
        console.log(Massid);
      if (confirm('Czy jesteś pewien, że chcesz usunąć  intencje  '+id+"?") == true) {
        fetch("/inten/delete?"+new URLSearchParams({
              id: id,
              Massid: Massid,}).toString()
            )
        .then(function(response) {
            console.log("res");
            console.log(response);
          return response.json();
        })
        .then(data=>{
            console.log(data);
            if(data.intencion)
            {
                alert("Msza nie może być usunieta bo posiada przypisane intencje");
            }else{
               fetch("/mass/delete/"+id)
                .then(function(response) {
                    if(response.json().status=true)
                    {
                        window.location.reload();
                    }else{
                       
                        alert("coś poszło  nie tak odświerz strone i sprubuj ponownie");
                    }
        })
            }
        })
       .catch(err =>{
            
                console.log("Booo"+err);
            
          
        });
     } else {
   
  } 
    
    }
</script>