<h3 style="text-align:center">Lista mszy</h3>
<style>
    .tdid{
        max-width: 140px;
    }
    .divdisplayrow{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    #tablemass{
        width: 100%;
    }
</style>
<script>

    function deletemass(id){
      if (confirm('Czy jesteś pewien, że chcesz usunąć Mszę'+id+"?") == true) {
        fetch("/mass/checkcandelete/"+id)
        .then(function(response) {
            console.log("res");
            console.log(response);
          return response.json();
        })
        .then(data=>{
            console.log(data);
            if(data.intencion)
            {
                alert("Msza nie może być usunieta bo posiada przypisane intencje");
            }else{
               fetch("/mass/delete/"+id)
                .then(function(response) {
                    if(response.json().status=true)
                    {
                        window.location.reload();
                    }else{
                       
                        alert("coś poszło  nie tak odświerz strone i sprubuj ponownie")
                    }
        })
            }
        })
       .catch(err =>{
            
                console.log("Booo"+err);
            
          
        });
     } else {
   
  } 
    
    }
</script>
<div id="tablemassoption" class="divdisplayrow">
    <a class="btn btn-secondary" href="/mass/addview">Dodaj Msze</a>
<select id="filter">
    <option value="all">Pokaż wszystkie</option>
    <option value="current">Pokaż tylko aktualne </option>
</select>
</div>
<table class="table table-striped">
 <thead>
 <tr>
 <th>Id</th>
 <th>Data mszy</th>
 <th>Godzina mszy</th>
 <th>Ilośc dostępnych intencji</th>
 <th>Ilość intencji</th>
 </tr>
 </thead>
 <tbody id="tablemass">
    {{#each list}}
    <tr>
    <td class="tdid">{{this._id}}</td>
    <td>{{this.Date}}</td>
    <td>{{this.Time}}</td>
    <td>{{this.Number_enable_intensions}}</td>
    <td>{{this.Number_intension}}</td>

    
    <td>
    <a class="btn btn-primary btn-sm" href="/mass/editview/{{this.id}}">Edytuj</a>
    <button  class="btn btn-danger btn-sm" 
    onclick="deletemass('{{this.id}}')" >Usuń</button>
    </td>
    </tr>
    {{/each}}
 </tbody>
</table>

<script >
    
    var listmass={{{json list}}};
    console.log(listmass);

    var now=new Date();
    
    function showcurrent(){
        var listcurrent=[];
        var today=new Date(now.getFullYear(),(now.getMonth()),now.getDate());
        console.log(typeof listmass);
        
                for (const [key, mass] of Object.entries(listmass)) {

                    var massdate=new Date(mass.Date_Of_even);
                    /*console.log("typ zmienej : "+typeof massdate);
                    console.log("data string "+ massdate);
                    console.log("typ zmienej : "+typeof massdate);
                    console.log("dzis: "+today);
                    console.log("data numer "+ massdate.getTime());
                    console.log("dzis numer: "+today.getTime());                    
                     console.log("warunek: "+ massdate.getTime()>today.getTime());
                     console.log(massdate>today);*/
           if(massdate>today){
                console.log("add to list");
                listcurrent.push(mass);
               // console.log(typeof mass.Date);
               // console.log(mass.Date.slice(0,10).split("-").reverse().join("-"));
            }else{}
        };
        console.log(listcurrent);
       document.getElementById("tablemass").innerHTML=""; 
     
        for(i=0;i<listcurrent.length;i++)
            {let tablerow = document.createElement('tr');
            tablerow.id='tr'+i;   
            tablerow.innerHTML="<tr>"
                +'<td class="tdid">'+listcurrent[i]._id+"</td>"
                +"<td>"+listcurrent[i].Date_Of_even.slice(0,10).split("-").reverse().join("-")+"</td>"
                +"<td>"+listcurrent[i].Date_Of_even.slice(11,16)+"</td>"
                +"<td>"+listcurrent[i].Number_enable_intensions+"</td>"
                +"<td>"+listcurrent[i].Number_intension+"</td>"
                +"<td>"
                +'<a class="btn btn-primary btn-sm" href="/mass/editview/'+listcurrent[i]._id+'">Edytuj</a>'
                +'<a class="btn btn-danger btn-sm" href="/mass/delete/'+listcurrent[i]._id+'"'
                +'onclick="return confirm("Czy jesteś pewien, że chcesz usunąć ten rekord?");">Usuń</a>'
                +"</td>"
                +"</tr>";
             document.getElementById("tablemass").appendChild(tablerow);
             console.log(tablerow);
        } 
                
    }
     function showall(){
       
       document.getElementById("tablemass").innerHTML=""; 
     
        for(i=0;i<listmass.length;i++)
            {let tablerow = document.createElement('tr');
            tablerow.id='tr'+i;   
            tablerow.innerHTML="<tr>"
                +'<td class="tdid">'+listmass[i]._id+"</td>"
                +"<td>"+listmass[i].Date_Of_even.slice(0,10).split("-").reverse().join("-")+"</td>"
                +"<td>"+listmass[i].Date_Of_even.slice(11,16)+"</td>"
                +"<td>"+listmass[i].Number_enable_intensions+"</td>"
                +"<td>"+listmass[i].Number_intension+"</td>"
                +"<td>"
                +'<a class="btn btn-primary btn-sm" href="/mass/editview/'+listmass[i]._id+'">Edytuj</a>'
                +'<a class="btn btn-danger btn-sm" href="/mass/delete/'+listmass[i]._id+'"'
                +'onclick="return confirm("Czy jesteś pewien, że chcesz usunąć ten rekord?");">Usuń</a>'
                +"</td>"
                +"</tr>";
             document.getElementById("tablemass").appendChild(tablerow);
             console.log(tablerow);
        } 
                
    }

    document.getElementById("filter").addEventListener("change",(event)=>{
        //console.log(event.target.value);
        switch(event.target.value){
            case "all":
                showall();
            break;
            case "current":
                showcurrent();
            break;
            default:console.log("somthing wron by filter chceck this");
        }
  });
  
</script>