<h3 style="text-align:center w-100">Lista pochówków</h3>
<a class="btn btn-secondary" href="/burial/addOrEdit">Dodaj pochówek</a>

<table class="table table-striped">
 <thead>
 <tr>
 <th>Id Pochówku</th>
 <th>Imię</th>
 <th>Nazwisko</th>
 <th>Rodzaj pochówku</th>
 <th>Data śmierci</th>
 <th>Data pochówku</th>
 <th>Numer kwatery</th> 
 </tr>
 </thead>
 <tbody>
 {{#each list}}
 <tr> 
 <td>{{this._id}}</td>
 <td>{{this.Namedeceased}}</td>
 <td>{{this.LastNamedeceased}}</td>
 <td>{{this.Burialtype}}</td>
 <td>{{this.DateOfDeathstring}}</td>
 <td>{{this.DateBurialstring}}</td>
 <td>{{this.GraveQuartersnumber}}</td>
 <td>
 <a class="btn btn-primary btn-sm" href="/burial/{{this._id}}">Edytuj</a>
 <a class="btn btn-danger btn-sm" href='/exhumation/add/?name=listdelete&&id={{this._id}}'
 onclick='return confirm("Czy jesteś pewien, że chcesz usunąć ten rekord?By usunąc rekord stworzona zostanie eksumacja.");'>Usuń</a>
 </td>
 </tr>
 {{/each}}
 </tbody>
</table>
