<h3 style="text-align:center">Lista Płatności</h3>
<style>
    .tdid{
        max-width: 140px;
    }
    .divdisplayrow{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    #tablepayment{
        width: 100%;
    }
</style>

<div id="tablepaymentoption" class="divdisplayrow mb-3">
<select id="filter" class="form-control mw250">
    <option value="all">Pokaż wszystkie</option>
    <option value="overpay">Pokaż tylko status:opłacone</option>
    <option value="cancel">Pokaż tylko status: anulowane </option>
    <option value="waiting">Pokaż tylko status: oczekujące </option>
    <option value="creted">Pokaż tylko status: utworzone </option>
     <option value="archiv">Pokaż tylko status: archiwalna </option>
    
</select>
</div>
<table class="table table-striped">
 <thead>
 <tr>
 <th class="align-middle text-center">Nr</th>
 <th class="align-middle text-center">Płatność za</th>
 <th class="align-middle text-center">Data płatności</th>
 <th class="align-middle text-center">Status</th>
 <th class="align-middle text-center">Id transakcji </th>

 </tr>
 </thead>
 <tbody id="tablepayment">
    {{#each list}}
    <tr>
    <td class="align-middle text-center">{{inc @index}}</td>
    <td class="align-middle text-center">{{this.Title}}</td>
    <td class="align-middle text-center">{{this.Date}}</td>
    <td class="align-middle text-center">{{this.Status}}</td>  
    <td class="align-middle text-center">{{this.Transacionid}}</td>   

    
    <td>
    <a class="btn btn-primary btn-sm" href="/payment/detail/{{this.id}}">Szczegóły</a>
    </td>
    </tr>
    {{/each}}
 </tbody>
</table>

<script >
    
    var listpayment={{{json list}}};
    console.log(listpayment);
   
    function showtd(list){
         document.getElementById("tablepayment").innerHTML = "";
     
        for(i=0;i<list.length;i++)
            {let tablerow = document.createElement('tr');
            tablerow.id='tr'+i;   
        
            tablerow.innerHTML="<tr>"
                +"<td class='align-middle text-center'>" + (i+1) +"</td>"
                +"<td class='align-middle text-center'>"+list[i].Title+"</td>"
                +"<td class='align-middle text-center'>"+list[i].Date_payment.slice(0,10).split("-").reverse().join("-")+"</td>"
                +"<td class='align-middle text-center'>"+list[i].Status+"</td>"
                 +"<td class='align-middle text-center'>"+list[i].Transacionid+"</td>"                
                +"<td class='align-middle text-center'>"
                +'<a class="btn btn-primary btn-sm" href="/payment/detail/'+list[i]._id+'">Szczegóły</a>'
                +"</td>"
                +"</tr>";
             document.getElementById("tablepayment").appendChild(tablerow);
             //console.log(tablerow);
        } 
    }

    function filter(filtr){
        var listfilter=[];

        for (const [key, element] of Object.entries(listpayment)) {
        
            console.log(element.Status);
            if(element.Status===filtr)
            {listfilter.push(element);}

        }

        showtd(listfilter);
    
        
              
                
    }
     function showall(){
       
       showtd(listpayment);
                
    }
   

    document.getElementById("filter").addEventListener("change",(event)=>{
        //console.log(event.target.value);
        switch(event.target.value){
            case "all":
                showall();
            break;
            case "overpay":
                filter("Opłacona");
            break;
            case "waiting":
                filter("Oczekująca na płatność");
            break;
            case "cancel":
                filter("Anulowana");
            break;
            case "creted":
                filter("Utworzona");
                  break;
            case "archiv":
                filter("Archiwalna");
            break;
            default:console.log("somthing wron by filter chceck this");
        }
  });
  /*
 
  
  */
</script>
