

<h3 style="text-align:center">Lista ogłoszeń</h3>
<a class="btn btn-secondary" href="/anonse/addview">Dodaj Ogłoszenie</a>
<table class="table table-striped">
 <thead>
 <tr>
 <th>Tytuł</th>
 <th>Treść</th>
 <th>Status</th>
 <th>Data wydarzenia</th>
 <th> Data dodania</th>
 </tr>
 </thead>
 <tbody>
 {{#each list}}
 <tr>
 <td>{{this.title}}</td>
 <td>{{this.annonse}}</td>
 <td>{{this.status}}</td>
 <td>{{this.time_event}}</td>
 <td>{{this.created_at}}</td>
 
 <td>
 <a class="btn btn-primary btn-sm" href="/anonse/editview/{{this.id}}">Edytuj</a>
 <a class="btn btn-danger btn-sm" href="/anonse/delete/{{this.id}}"
 onclick="return confirm('Czy jesteś pewien, że chcesz usunąć ten rekord?');">Usuń</a>
 </td>
 </tr>
 {{/each}}
 </tbody>
</table>