<h3 style="text-align:center w-100">lista Pochówków</h3>
<a class="btn btn-secondary" href='/exhumation/add/?name=add'>Dodaj Ekshumacje</a>
<table class="table table-striped">
 <thead>
 <tr>
 <th>Id Ekshumacji</th>
 <th>Cel ekshumacji</th>
 <th>Data ekshumacji</th>
 <th>Data ponownego pochówku</th>
 <th>opis</th>
 </tr>
 </thead>
 <tbody>
 {{#each list}}
 <tr>
 <td>{{this._id}}</td>
 <td>{{this.PurposeExhumation}}</td>
 <td>{{this.DateExhumationString}}</td>
 <td>{{this.DatereburialString}}</td>
 <td>{{this.Scribe}}</td>
 <td>
 <a class="btn btn-primary btn-sm" href="/exhumation/edit/{{this._id}}">Edytuj</a>
 <a class="btn btn-danger btn-sm" href="/exhumation/delete/{{this._id}}"
 onclick="return confirm('Niestety rekordu nie można usunąć na tym poziomie uprawnień. Zgłoś się do administratora systemu.');">Usuń</a>
 </td>
 </tr>
 {{/each}}
 </tbody>
</table>